<section>
  <h2>活動内容</h2>
  <h3>コーチングやお金の事情、子どもとの遊び方など、ママにとって必要な情報をワークショップ形式で発信。</h3>

  <section class="list">
    <h4 style="margin-left: 0;">2016/10/15(土)・11/16(水）</h4>
    <p style="margin-left: 0;">『復職前に知っておこう！子育てと仕事を”笑顔”で両立するコツ』茨城県守谷市内にて開催</p>
    <%= image_tag('poster.png', :width => '100%', :style => 'margin: 15px 0;') %>
    <p>申し込みは info[at]star-mothers.com にご連絡ください。</p>
  </section>

</section>