<aside id="mainimg">
  <%= image_tag('star-mothers1.png', :id => 'slide1') %>
  <%= image_tag('star-mothers2.png', :id => 'slide2') %>
</aside>
<section id="new">
  <h2 id="newinfo_hdr" class="close">更新情報・お知らせ</h2>
  <dl id="newinfo">
    <dt>2016/09/01</dt>
    <!--<dd>tp_home1公開。<span class="newicon">NEW</span></dd>-->
    <dd><%= link_to 'ワークショップ開催！『復職前に知っておこう！子育てと仕事を”笑顔”で両立するコツ』', '/activity' %></dd>
  </dl>
</section>
