<section>
  <h2>マネーサポートとは</h2>
  <p>個人の人生においてのお金に関する目標を一緒に考え、設定し、行き方のガイドマップ
    を作り、ガイドする役目です。すたーまざーずは、自分の将来やお子様、ご家族の将来
    をよりキラキラ輝くようにサポートすることを目指します。FP（ファイナンシャル・プ
    ランナー）としてAFP2級の資格を持った代表が、より身近にお金の話を知っていただき
    たいと思いマネーサポートと呼んでいます。</p>
  <p>個人的にマネーサポートをご希望の方はお問い合わせくださいませ。</p>

  <p>お問い合わせは、メールにて受け付けております。<br>
    少しでも気になる事がありましたら、ご連絡いただけますと幸いです。</p>
  <p>Mail: info@star-mothers.com</p>
</section>