<section>
  <h2>代表挨拶</h2>
  <p>皆様　はじめまして。こんにちは！</p>
  <p>すたーまざーず　代表の伊藤早姫(いとうさき）と申します。</p>
  <p>私は、子どもを保育園に預け復職した経験や子連れ出勤の経験から、「ママがキラキラ輝くために何か役に立つことができないか」と考えていました。</p>
  <p>世の中、女性活躍をうたっていますが、女性ばかりに負担がかかっているようにも思います。(働いて・産んで・育てて　と言われている気がします…）</p>
  <p>とはいえ、活躍を！と、社会で後押ししてくれるので、女性としても活躍したいと思っているのですが、働きながら産んで育てる事は、初めての時は特に、不安もあり楽しくもあり大変なこともありました。</p>
  <p>その後、2人目の出産後に色々なご縁があり、お金に関する事や人間関係構築のコツなど、私自身が『その時知っておきたかった～！』と思った事を多々知る事になりました。</p>
  <p>私が知った事を、今『その時』を過ごしているママに伝えたいと思っています。</p>
  <p>笑顔でキラキラ輝く日々を過ごして頂く為に…。</p>
  <h3>略歴</h3>
  <p>茨城県守谷市在住の2児の母。ディズニーランドでキャストを経験後、都内の呉服店勤務時に第1子出産。産休育休後、復職。 第2子妊娠を機に退職。</p>
  <p>出産前にファイナンシャルプランナーを目指し、AFP2級の資格を取得。出産後、つくばにある授乳服メーカーにて子連れ出勤や講師を経験。友人の言葉がきっかけでコーチングを学び始める。</p>
  <p>現在は、フリーペーパーの会社で働きながら、守谷市ママプロジェクトに参加。また子育てや復職支援の講師としても活躍中。</p>
</section>